.worker-list {
  text-align: center;
  margin: 20px;
}

.worker-grid {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.worker-card {
  background: #fff;
  padding: 15px;
  width: 220px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.2s;
}

.worker-card:hover {
  transform: translateY(-5px);
}

.worker-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 3px solid #ddd;
  
}

.book-btn {
  background-color: #007bff;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.book-btn:hover {
  background-color: #0056b3;
}
